
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>



@using (Html.BeginForm("Register", "Registration",  FormMethod.Post))
{
    @Html.TextBox("Username");
    @Html.TextBox("Password");
    <input type="submit" value="OK">
}

